.postList {
    margin-top: 2rem;

    > a {
        display: block;

            strong {
                font-size: 1.75rem;
                font-weight: bold;
                color: var(--gray-100);
            }

            p {
                margin-top: 0.5rem;
                font-size: 1.125rem;
            }

            ul {
                list-style: none;
                margin-top: 1.5rem;
                display: flex;

                & li {
                    font-size: 0.875rem;

                    & svg {
                        margin-right: 0.5rem;
                    }

                    & + li {
                        margin-left: 1.165rem;
                    }
                }

               
            }

            &:hover strong {
                color: var(--pink-100);
                transition: 0.5s;
            }

            & + a {
                margin-top: 3rem;
            }
    }

    button {
        border: none;
        background: none;
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--pink-100);
        margin-top: 4rem;


        &:hover {
            text-decoration:underline ;
        }
    }
}
